

body 

{background: black;}



#image img {

margin: auto;
    width: 50%;
    height: 50%;
    margin-left: 480px;
    margin-right: 480px;
}

#Discord {
    font-size: 100px;
    text-align: center;
    margin: 20px;
}

#Twitch {
    font-size: 100px;
    text-align: center;
    margin: 20px;
}

#Youtube {
    font-size: 100px;
    text-align: center;
    margin: 20px;
}


